.invalid-feedback {
    display: flex;
    align-items: center;
    height: 20px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 15px;
}

.copy_btn {
    position: relative;
    display: inline-block;
    margin-left: -1px;
    padding: 8px 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: linear-gradient(#fcfcfc,#eee) #eee;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

input {
    max-width: 350px;
}

.input-group>*:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.modal-dialog {
    max-width: 400px;
}

.page-wrap {
    min-height: 100vh;
}